.container {
  display: flex;
  height: 800px;
  width: 200px;
  flex-direction:column-reverse
}

.green {
  background-color: green;
  flex-grow: 1;
}
.yellow {
  background-color: yellow;
  flex-grow: 2;
}
.purple {
  background-color: purple;
  flex-grow: 1;
}
