.container {
  display: flex; /* kotelezo elem*/
}

.item {
  align-self: flex-end;
  height: 200px;
  width: 100%;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
