.container {
  display: flex;
  height: 400px;
  width: 800px;
  background-color: yellow;
  justify-content:center; 
}

.purple{
  background-color: purple;
  height: 100px;
  width: 100px;
  align-self: center;
  
  }
