*{

  margin: 0;
}

.container {
  display: flex;
  height: 400px;
  width: 100%;
  margin: 0;
  background-color: yellow;
}

.item {
  height: 100px;
  width: 100px;
  background-color: purple;
  margin: 10px;
  list-style-type: none;
}
